        <!-- START PAGE CONTAINER -->
        <div class="page-container">
            
            <!-- START PAGE SIDEBAR -->
            <slider-bar></slider-bar>
            <!-- END PAGE SIDEBAR -->
            
            <!-- PAGE CONTENT -->
            <div class="page-content">
                
                <!-- START X-NAVIGATION VERTICAL -->
                <header-menu></header-menu>
                <!-- END X-NAVIGATION VERTICAL -->                     

                <!-- START BREADCRUMB -->
                <ul class="breadcrumb">
                    <li><a href="#/">{{'HOME' | translate}}</a></li>
                    <li><a href="#/customer">{{'CUSTOMERS' | translate}}</a></li>
                    <li class="active">{{'CUSTOMER_DETAILS' | translate}}</li>
                </ul>
                <!-- END BREADCRUMB -->                       
                
                <!-- PAGE CONTENT WRAPPER -->
                <div class="page-content-wrap">

                    <div class="row">
                        <div class="col-md-12">



                                <div class="panel panel-default tabs">
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li class="active"><a href="#tab-first" role="tab" data-toggle="tab">{{'PERSONAL_DATA' | translate}}</a></li>
                                        <li><a href="#tab-third" role="tab" data-toggle="tab">{{'DATA_SETINGS' | translate}}</a></li>
                                    </ul>
                                    <div class="panel-body tab-content">
                                        <div class="tab-pane active" id="tab-first">
                                            <form class="form-horizontal" id="customerForm" name ="customerForm" role="form" ng-submit="updateCustomer(customer)" novalidate>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <p>{{'TYPE_TO_EDIT_CUSTOMER_INFORMATION' | translate}}</p>
                                                    </div>
                                                    <div class="col-md-6">

                                                        <div class="form-group">
                                                            <label class="col-md-3 col-xs-12 control-label">{{'USERNAME' | translate}}</label>
                                                            <div class="col-md-9 col-xs-12">
                                                                <input  type="text" class=" form-control" name="username" id="username"
                                                                        ng-model="customer.account.username" readonly/>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="col-md-3 col-xs-12 control-label">{{'ROLE' | translate}}</label>
                                                            <div class="col-md-9 col-xs-12">
                                                                <select class="form-control " ng-model="customer.account.role">
                                                                    <option>USER</option>
                                                                    <option >TECHNICAL</option>
                                                                    <option>ADMINISTRATOR</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-md-3 col-xs-12 control-label">{{'PAYMENT_TYPE' | translate}}</label>
                                                            <div class="col-md-9 col-xs-12">
                                                                <select class="form-control "
                                                                        ng-options="option.name for option in pamentPlantType track by option.planID"
                                                                        ng-model="customer.paymentPlan">
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="form-group"
                                                             ng-class="{ 'has-error' : customerForm.name.$invalid}">
                                                            <label class="col-md-3 col-xs-12 control-label">{{'NAME' | translate}}</label>
                                                            <div class="col-md-9 col-xs-12">
                                                                <input type="text" class="form-control" name="name" ng-model="customer.name"
                                                                       required/>
                                                                <p ng-show="customerForm.name.$dirty && customerForm.name.$invalid" class="help-block">{{'NAME_IS_REQUIRED' | translate}}</p>
                                                            </div>
                                                        </div>
                                                        <div class="form-group"
                                                             ng-class="{ 'has-error' : customerForm.email.$invalid}">
                                                            <label class="col-md-3 col-xs-12 control-label">{{'EMAIL' | translate}}</label>
                                                            <div class="col-md-9 col-xs-12">
                                                                <input type="email" class="form-control" name="email" ng-model="customer.email"/>
                                                                <p ng-show="customerForm.email.$invalid" class="help-block">{{'ENTER_A_VALID_EMAIL' | translate}}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="col-md-3 col-xs-12 control-label">{{'AVATAR' | translate}}</label>
                                                            <div class="col-md-9 col-xs-12">
                                                                <input type="file" class="fileinput btn-success" name="file-avatar" id="file-avatar" title="Click to add avatar"/>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="col-md-3 col-xs-12 control-label">{{'DATE_OF_BIRTH' | translate}}</label>
                                                            <div class="col-md-9 col-xs-12">
                                                                <div class="input-group">
                                                                    <input type="text" class="form-control"
                                                                           id="birthday"
                                                                           data-date-format="yyyy-mm-dd"
                                                                           data-date-viewmode="years"
                                                                           ng-model="customer.birthday">
                                                                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-md-3 col-xs-12 control-label">{{'SEX' | translate}}</label>
                                                            <div class="col-md-9 col-xs-12"><!--class="iradio"-->
                                                                <label class="check"><input type="radio" id="male" name="sex" checked="checked" value="male" ng-model="customer.sex"/> {{'MALE' | translate}}</label>
                                                                <label class="check"><input type="radio" id="female" name="sex" value="female" ng-model="customer.sex"/> {{'FEMALE' | translate}}</label>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="col-md-3 col-xs-12 control-label">{{'PHONE' | translate}}</label>
                                                            <div class="col-md-9 col-xs-12">
                                                                <input  type="text" class=" form-control" name="phone" id="phone"
                                                                        ng-model="customer.phoneNumber"
                                                                        ng-pattern="phonePattern"/>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-md-3 col-xs-12 control-label">{{'ADDRESS' | translate}}</label>
                                                            <div class="col-md-9 col-xs-12">
                                                                <input type="text" class="form-control" id="address" ng-model="customer.address"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <br>
                                                            <div class="col-md-12">
                                                                <a class="btn btn-danger " ng-click="deleteCustomer(customer)"  >{{'DELETE_THIS_CUSTOMER' | translate}} <span class="fa fa-trash-o fa-right"></span></a>
                                                                <button class="btn btn-primary pull-right"  >{{'SAVE_CHANGES' | translate}} <span class="fa fa-floppy-o fa-right"></span></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="tab-pane" id="tab-third">
                                            <p>This is non libero bibendum, scelerisque arcu id, placerat nunc. Integer ullamcorper rutrum dui eget porta. Fusce enim dui, pulvinar a augue nec, dapibus hendrerit mauris. Praesent efficitur, elit non convallis faucibus, enim sapien suscipit mi, sit amet fringilla felis arcu id sem. Phasellus semper felis in odio convallis, et venenatis nisl posuere. Morbi non aliquet magna, a consectetur risus. Vivamus quis tellus eros. Nulla sagittis nisi sit amet orci consectetur laoreet.</p>
                                        </div>
                                    </div>
                                    <div class="panel-footer">
                                    </div>
                                </div>

                        </div>
                        <div class="col-md-12">

                                <div class="panel panel-default tabs">
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li class="active"><a href="#tab-nodes" role="tab" data-toggle="tab">{{'NODE_OF_CUSTOMER' | translate}}</a></li>
                                        <li><a href="#tab-items" role="tab" data-toggle="tab">{{'ITEM_OF_CUSTOMER' | translate}}</a></li>
                                    </ul>
                                    <div class="panel-body tab-content">
                                        <div class="tab-pane active" id="tab-nodes">
                                            <!-- START DATATABLE EXPORT -->
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title">{{'NODE_OF_CUSTOMER' | translate}}</h3>
                                                    <div class="btn-group pull-right">

                                                        <button class="btn btn-danger dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars"></i> {{'EXPORT_DATA' | translate}}</button>
                                                        <ul class="dropdown-menu">
                                                            <li><a href="#" onClick ="$('#nodes').tableExport({type:'json',escape:'false'});"><img src='img/icons/json.png' width="24"/> JSON</a></li>
                                                            <li><a href="#" onClick ="$('#nodes').tableExport({type:'json',escape:'false',ignoreColumn:'[2,3]'});"><img src='img/icons/json.png' width="24"/> JSON (ignoreColumn)</a></li>
                                                            <li><a href="#" onClick ="$('#nodes').tableExport({type:'json',escape:'true'});"><img src='img/icons/json.png' width="24"/> JSON (with Escape)</a></li>
                                                            <li class="divider"></li>
                                                            <li><a href="#" onClick ="$('#nodes').tableExport({type:'xml',escape:'false'});"><img src='img/icons/xml.png' width="24"/> XML</a></li>
                                                            <li><a href="#" onClick ="$('#nodes').tableExport({type:'sql'});"><img src='img/icons/sql.png' width="24"/> SQL</a></li>
                                                            <li class="divider"></li>
                                                            <li><a href="#" onClick ="$('#nodes').tableExport({type:'csv',escape:'false'});"><img src='img/icons/csv.png' width="24"/> CSV</a></li>
                                                            <li><a href="#" onClick ="$('#nodes').tableExport({type:'txt',escape:'false'});"><img src='img/icons/txt.png' width="24"/> TXT</a></li>
                                                            <li class="divider"></li>
                                                            <li><a href="#" onClick ="$('#nodes').tableExport({type:'excel',escape:'false'});"><img src='img/icons/xls.png' width="24"/> XLS</a></li>
                                                            <li><a href="#" onClick ="$('#nodes').tableExport({type:'doc',escape:'false'});"><img src='img/icons/word.png' width="24"/> Word</a></li>
                                                            <li><a href="#" onClick ="$('#nodes').tableExport({type:'powerpoint',escape:'false'});"><img src='img/icons/ppt.png' width="24"/> PowerPoint</a></li>
                                                            <li class="divider"></li>
                                                            <li><a href="#" onClick ="$('#nodes').tableExport({type:'png',escape:'false'});"><img src='img/icons/png.png' width="24"/> PNG</a></li>
                                                            <li><a href="#" onClick ="$('#nodes').tableExport({type:'pdf',escape:'false'});"><img src='img/icons/pdf.png' width="24"/> PDF</a></li>
                                                        </ul>
                                                    </div>

                                                </div>
                                                <div class="panel-body">
                                                    <table id="nodes"
                                                           datatable="ng"
                                                           class="table">
                                                        <thead>
                                                        <tr>
                                                            <th>{{'NAME' | translate}}</th>
                                                            <th>{{'IP_ADDRESS' | translate}}</th>
                                                            <th>{{'STATUS' | translate}}</th>
                                                            <th>{{'VALUE' | translate}}</th>
                                                            <th>{{'LOCATION' | translate}}</th>
                                                            <th>{{'PLAN_TYPE' | translate}}</th>
                                                            <th>{{'DESCRIPTION' | translate}}</th>
                                                            <th>{{'CREATE_DATE' | translate}}</th>
                                                            <th>{{'DETAIL' | translate}}</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr ng-repeat="node in nodes">
                                                            <td>{{node.name}}</td>
                                                            <td>{{node.ipAddress}}</td>
                                                            <td><span class="label label-success">{{node.status}}</span></td>
                                                            <td>{{node.value}}</td>
                                                            <td>{{node.location}}</td>
                                                            <td>{{node.plantType}}</td>
                                                            <td>{{node.description}}</td>
                                                            <td>{{showDateFromTimestamp(node.createdDate)}}</td>
                                                            <th><a href="#/node/edit/{{node.nodeID}}" type="button" class="btn btn-info">{{'SHOW_DETAIL' | translate}}</a></th>
                                                        </tr>
                                                        </tbody>
                                                    </table>

                                                </div>
                                            </div>
                                            <!-- END DATATABLE EXPORT -->
                                        </div>
                                        <div class="tab-pane" id="tab-items">
                                            <!-- START DATATABLE EXPORT -->
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title">{{'ITEM_OF_CUSTOMER' | translate}}</h3>
                                                    <div class="btn-group pull-right">

                                                        <button class="btn btn-danger dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars"></i> {{'EXPORT_DATA' | translate}}</button>
                                                        <ul class="dropdown-menu">
                                                            <li><a href="#" onClick ="$('#items').tableExport({type:'json',escape:'false'});"><img src='img/icons/json.png' width="24"/> JSON</a></li>
                                                            <li><a href="#" onClick ="$('#items').tableExport({type:'json',escape:'false',ignoreColumn:'[2,3]'});"><img src='img/icons/json.png' width="24"/> JSON (ignoreColumn)</a></li>
                                                            <li><a href="#" onClick ="$('#items').tableExport({type:'json',escape:'true'});"><img src='img/icons/json.png' width="24"/> JSON (with Escape)</a></li>
                                                            <li class="divider"></li>
                                                            <li><a href="#" onClick ="$('#items').tableExport({type:'xml',escape:'false'});"><img src='img/icons/xml.png' width="24"/> XML</a></li>
                                                            <li><a href="#" onClick ="$('#items').tableExport({type:'sql'});"><img src='img/icons/sql.png' width="24"/> SQL</a></li>
                                                            <li class="divider"></li>
                                                            <li><a href="#" onClick ="$('#items').tableExport({type:'csv',escape:'false'});"><img src='img/icons/csv.png' width="24"/> CSV</a></li>
                                                            <li><a href="#" onClick ="$('#items').tableExport({type:'txt',escape:'false'});"><img src='img/icons/txt.png' width="24"/> TXT</a></li>
                                                            <li class="divider"></li>
                                                            <li><a href="#" onClick ="$('#items').tableExport({type:'excel',escape:'false'});"><img src='img/icons/xls.png' width="24"/> XLS</a></li>
                                                            <li><a href="#" onClick ="$('#items').tableExport({type:'doc',escape:'false'});"><img src='img/icons/word.png' width="24"/> Word</a></li>
                                                            <li><a href="#" onClick ="$('#items').tableExport({type:'powerpoint',escape:'false'});"><img src='img/icons/ppt.png' width="24"/> PowerPoint</a></li>
                                                            <li class="divider"></li>
                                                            <li><a href="#" onClick ="$('#items').tableExport({type:'png',escape:'false'});"><img src='img/icons/png.png' width="24"/> PNG</a></li>
                                                            <li><a href="#" onClick ="$('#items').tableExport({type:'pdf',escape:'false'});"><img src='img/icons/pdf.png' width="24"/> PDF</a></li>
                                                        </ul>
                                                    </div>

                                                </div>
                                                <div class="panel-body">
                                                    <table id="items" datatable="ng" class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>{{'NAME' | translate}}</th>
                                                                <th>{{'NODE' | translate}}</th>
                                                                <th>{{'CUSTOMER' | translate}}</th>
                                                                <th>x,y,w,h</th>
                                                                <th>{{'SEND_RATE' | translate}}</th>
                                                                <th>{{'STATUS' | translate}}</th>
                                                                <th>{{'ITEM_TYPE' | translate}}</th>
                                                                <th>{{'ITEM_TYPE_DESCRIPITON' | translate}}</th>
                                                                <th>{{'DETAIL' | translate}}</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="item in items">
                                                                <td>{{item.name}}</td>
                                                                <td><a href="node-detail.html">{{item.node.name}}</a> </td>
                                                                <td><a href="customer-detail.html">{{item.node.customer.name}}</a> </td>
                                                                <td>{{item.x}},{{item.y}},{{item.w}},{{item.h}}</td>
                                                                <td>{{item.sendRate}}</td>
                                                                <td><span class="label label-success">{{item.status}}</span></td>
                                                                <td>{{item.itemType.name}}</td>
                                                                <td>{{item.itemType.description}}</td>
                                                                <th><a href="#/item/edit/{{item.itemID}}" type="button" class="btn btn-info">{{'SHOW_DETAIL' | translate}}</a></th>
                                                            </tr>
                                                        </tbody>
                                                    </table>

                                                </div>
                                            </div>
                                            <!-- END DATATABLE EXPORT -->
                                        </div>
                                    </div>
                                    <div class="panel-footer">
                                    </div>
                                </div>

                        </div>
                    </div>
                    
                </div>
                <!-- END PAGE CONTENT WRAPPER -->                                
            </div>            
            <!-- END PAGE CONTENT -->
        </div>
        <!-- END PAGE CONTAINER -->