
    <!--<body ng-app="iLyra" ng-controller="customerController">-->
        <!-- START PAGE CONTAINER -->
        <div class="page-container">
            
            <!-- START PAGE SIDEBAR -->
            <div class="page-sidebar">
                <!-- START X-NAVIGATION -->
                <ul class="x-navigation">
                    <li class="xn-logo">
                        <a href="index.html">iLyra</a>
                        <a href="#" class="x-navigation-control"></a>
                    </li>
                    <li class="xn-profile">
                        <a href="#" class="profile-mini">
                            <img src="assets/images/users/avatar.jpg" alt="{{globals.currentUser.name}}"/>
                        </a>
                        <div class="profile">
                            <div class="profile-image">
                                <img src="assets/images/users/avatar.jpg" alt="{{globals.currentUser.name}}"/>
                            </div>
                            <div class="profile-data">
                                <div class="profile-data-name">{{globals.currentUser.name}}</div>
                                <div class="profile-data-title">{{globals.currentUser.role}}</div>
                            </div>
                            <div class="profile-controls">
                                <a href="pages-profile.html" class="profile-control-left"><span class="fa fa-info"></span></a>
                                <a href="pages-messages.html" class="profile-control-right"><span class="fa fa-envelope"></span></a>
                            </div>
                        </div>
                    </li>
                    <li class="xn-title">Navigation</li>
                    <li class="active">
                        <a href="/"><span class="fa fa-desktop"></span> <span class="xn-text">Dashboard</span></a>
                    </li>
                    <li><a href="#/customer"><span class="fa fa-file-text-o"></span> Customers</a></li>
                    <li><a href="#/node"><span class="fa fa-file-text-o"></span> Nodes</a></li>
                    <li><a href="items.html"><span class="fa fa-file-text-o"></span> Items</a></li>
                    <li><a href="payment.html"><span class="fa fa-file-text-o"></span> Payment</a></li>
                </ul>
                <!-- END X-NAVIGATION -->
            </div>
            <!-- END PAGE SIDEBAR -->
            
            <!-- PAGE CONTENT -->
            <div class="page-content">
                
                <!-- START X-NAVIGATION VERTICAL -->
                <ul class="x-navigation x-navigation-horizontal x-navigation-panel">
                    <!-- TOGGLE NAVIGATION -->
                    <li class="xn-icon-button">
                        <a href="#" class="x-navigation-minimize"><span class="fa fa-dedent"></span></a>
                    </li>
                    <!-- END TOGGLE NAVIGATION -->
                    <!-- SEARCH -->
                    <li class="xn-search">
                        <form role="form">
                            <input type="text" name="search" placeholder="Search..."/>
                        </form>
                    </li>   
                    <!-- END SEARCH -->
                    <!-- SIGN OUT -->
                    <li class="xn-icon-button pull-right">
                        <a href="#" class="mb-control" data-box="#mb-signout"><span class="fa fa-sign-out"></span></a>
                    </li> 
                    <!-- END SIGN OUT -->
                    <!-- MESSAGES -->
                    <li class="xn-icon-button pull-right">
                        <a href="#"><span class="fa fa-comments"></span></a>
                        <div class="informer informer-danger">4</div>
                        <div class="panel panel-primary animated zoomIn xn-drop-left xn-panel-dragging">
                            <div class="panel-heading">
                                <h3 class="panel-title"><span class="fa fa-comments"></span> Messages</h3>                                
                                <div class="pull-right">
                                    <span class="label label-danger">4 new</span>
                                </div>
                            </div>
                            <div class="panel-body list-group list-group-contacts scroll" style="height: 200px;">
                                <a href="#" class="list-group-item">
                                    <div class="list-group-status status-online"></div>
                                    <img src="assets/images/users/user2.jpg" class="pull-left" alt="John Doe"/>
                                    <span class="contacts-title">John Doe</span>
                                    <p>Processed partitions/segments failed.</p>
                                </a>
                                <a href="#" class="list-group-item">
                                    <div class="list-group-status status-away"></div>
                                    <img src="assets/images/users/user.jpg" class="pull-left" alt="Dmitry Ivaniuk"/>
                                    <span class="contacts-title">Dmitry Ivaniuk</span>
                                    <p>Processed partitions/segments failed.</p>
                                </a>
                                <a href="#" class="list-group-item">
                                    <div class="list-group-status status-away"></div>
                                    <img src="assets/images/users/user3.jpg" class="pull-left" alt="Nadia Ali"/>
                                    <span class="contacts-title">Nadia Ali</span>
                                    <p>Processed partitions/segments failed.</p>
                                </a>
                                <a href="#" class="list-group-item">
                                    <div class="list-group-status status-offline"></div>
                                    <img src="assets/images/users/user6.jpg" class="pull-left" alt="Darth Vader"/>
                                    <span class="contacts-title">Darth Vader</span>
                                    <p>I want my money back!</p>
                                </a>
                            </div>     
                            <div class="panel-footer text-center">
                                <a href="pages-messages.html">Show all messages</a>
                            </div>                            
                        </div>                        
                    </li>
                    <!-- END MESSAGES -->
                    <!-- TASKS -->
                    <li class="xn-icon-button pull-right">
                        <a href="#"><span class="fa fa-tasks"></span></a>
                        <div class="informer informer-warning">3</div>
                        <div class="panel panel-primary animated zoomIn xn-drop-left xn-panel-dragging">
                            <div class="panel-heading">
                                <h3 class="panel-title"><span class="fa fa-tasks"></span> Tasks</h3>                                
                                <div class="pull-right">
                                    <span class="label label-warning">3 active</span>
                                </div>
                            </div>
                            <div class="panel-body list-group scroll" style="height: 200px;">                                
                                <a class="list-group-item" href="#">
                                    <strong>Phasellus augue arcu, elementum</strong>
                                    <div class="progress progress-small progress-striped active">
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">50%</div>
                                    </div>
                                    <small class="text-muted">John Doe, 25 Sep 2014 / 50%</small>
                                </a>
                                <a class="list-group-item" href="#">
                                    <strong>Aenean ac cursus</strong>
                                    <div class="progress progress-small progress-striped active">
                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">80%</div>
                                    </div>
                                    <small class="text-muted">Dmitry Ivaniuk, 24 Sep 2014 / 80%</small>
                                </a>
                                <a class="list-group-item" href="#">
                                    <strong>Lorem ipsum dolor</strong>
                                    <div class="progress progress-small progress-striped active">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%;">95%</div>
                                    </div>
                                    <small class="text-muted">John Doe, 23 Sep 2014 / 95%</small>
                                </a>
                                <a class="list-group-item" href="#">
                                    <strong>Cras suscipit ac quam at tincidunt.</strong>
                                    <div class="progress progress-small">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">100%</div>
                                    </div>
                                    <small class="text-muted">John Doe, 21 Sep 2014 /</small><small class="text-success"> Done</small>
                                </a>                                
                            </div>     
                            <div class="panel-footer text-center">
                                <a href="pages-tasks.html">Show all tasks</a>
                            </div>                            
                        </div>                        
                    </li>
                    <!-- END TASKS -->
                </ul>
                <!-- END X-NAVIGATION VERTICAL -->                     

                <!-- START BREADCRUMB -->
                <ul class="breadcrumb">
                    <li><a href="#">Home</a></li>                    
                    <li class="active">Customers</li>
                </ul>
                <!-- END BREADCRUMB -->                       
                
                <!-- PAGE CONTENT WRAPPER -->
                <div class="page-content-wrap">

                    <div class="row">
                        <div class="col-md-12">
                            
                            <!-- START DATATABLE EXPORT -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Customers in Sytem</h3>
                                    <div class="btn-group pull-right">
                                        <button class="btn btn-success" data-toggle="modal" data-target="#new-customer-form"><i class="fa fa-plus-circle"></i> Add new Customer</button>
                                        <button class="btn btn-danger dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars"></i> Export Data</button>
                                        <ul class="dropdown-menu">
                                            <li><a href="#" onClick ="$('#customers2').tableExport({type:'json',escape:'false'});"><img src='img/icons/json.png' width="24"/> JSON</a></li>
                                            <li><a href="#" onClick ="$('#customers2').tableExport({type:'json',escape:'false',ignoreColumn:'[2,3]'});"><img src='img/icons/json.png' width="24"/> JSON (ignoreColumn)</a></li>
                                            <li><a href="#" onClick ="$('#customers2').tableExport({type:'json',escape:'true'});"><img src='img/icons/json.png' width="24"/> JSON (with Escape)</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#" onClick ="$('#customers2').tableExport({type:'xml',escape:'false'});"><img src='img/icons/xml.png' width="24"/> XML</a></li>
                                            <li><a href="#" onClick ="$('#customers2').tableExport({type:'sql'});"><img src='img/icons/sql.png' width="24"/> SQL</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#" onClick ="$('#customers2').tableExport({type:'csv',escape:'false'});"><img src='img/icons/csv.png' width="24"/> CSV</a></li>
                                            <li><a href="#" onClick ="$('#customers2').tableExport({type:'txt',escape:'false'});"><img src='img/icons/txt.png' width="24"/> TXT</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#" onClick ="$('#customers2').tableExport({type:'excel',escape:'false'});"><img src='img/icons/xls.png' width="24"/> XLS</a></li>
                                            <li><a href="#" onClick ="$('#customers2').tableExport({type:'doc',escape:'false'});"><img src='img/icons/word.png' width="24"/> Word</a></li>
                                            <li><a href="#" onClick ="$('#customers2').tableExport({type:'powerpoint',escape:'false'});"><img src='img/icons/ppt.png' width="24"/> PowerPoint</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#" onClick ="$('#customers2').tableExport({type:'png',escape:'false'});"><img src='img/icons/png.png' width="24"/> PNG</a></li>
                                            <li><a href="#" onClick ="$('#customers2').tableExport({type:'pdf',escape:'false'});"><img src='img/icons/pdf.png' width="24"/> PDF</a></li>
                                        </ul>
                                    </div>                                    
                                    
                                </div>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                    <table
                                            datatable="ng"
                                            id="customers2"
                                            class="table">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Username</th>
                                                <th>Address</th>
                                                <th>Sex</th>
                                                <th>Birthday</th>
                                                <th>Email</th>
                                                <th>Phone</th>
                                                <th>Status</th>
                                                <th>Detail</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="customer in customers" id="{{customer.customerID}}">
                                                <td>{{customer.name}}</td>
                                                <td>{{customer.account.username}}</td>
                                                <td>{{customer.address}}</td>
                                                <td>{{customer.sex}}</td>
                                                <td>{{showDateFromTimestamp(customer.birthday)}}</td>
                                                <td>{{customer.email}}</td>
                                                <td>{{customer.phoneNumber}}</td>
                                                <td>{{customer.account.active}}</td>
                                                <th><a type="button" class="btn btn-info" href="#/customer/edit/{{customer.customerID}}">Show detail</a></th>
                                            </tr>
                                        </tbody>
                                    </table>
                                    </div>
                                </div>
                            </div>
                            <!-- END DATATABLE EXPORT -->

                        </div>
                    </div>
                    
                </div>
                <!-- END PAGE CONTENT WRAPPER -->                                
            </div>            
            <!-- END PAGE CONTENT -->
        </div>
        <!-- END PAGE CONTAINER -->

        <!-- MESSAGE BOX-->
        <div class="message-box animated fadeIn" data-sound="alert" id="mb-signout">
            <div class="mb-container">
                <div class="mb-middle">
                    <div class="mb-title"><span class="fa fa-sign-out"></span> Log <strong>Out</strong> ?</div>
                    <div class="mb-content">
                        <p>Are you sure you want to log out?</p>                    
                        <p>Press No if you want to continue work. Press Yes to logout current user.</p>
                    </div>
                    <div class="mb-footer">
                        <div class="pull-right">
                            <a href="#/login" class="btn btn-success btn-lg">Yes</a>
                            <button class="btn btn-default btn-lg mb-control-close">No</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END MESSAGE BOX-->

        <!--START MODALS -->
        <div class="modal" id="new-customer-form" tabindex="-1" role="dialog" aria-labelledby="largeModalHead" aria-hidden="true" data-backdrop="static">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="largeModalHead">Create new Customer</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">

                                <form class="form-horizontal" id="newCustomerForm" name ="newCustomerForm" role="form" ng-submit="addNewCustomer(newCustomerForm.$valid,newCustomer)" novalidate>

                                    <div class="panel panel-default tabs">
                                        <ul class="nav nav-tabs" role="tablist">
                                            <li class="active"><a href="#tab-first" role="tab" data-toggle="tab">Personal Data</a></li>
                                            <li><a href="#tab-third" role="tab" data-toggle="tab">Data Setings</a></li>
                                        </ul>
                                        <div class="panel-body tab-content">
                                            <div class="tab-pane active" id="tab-first">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <p>Create new account for sytem</p>
                                                    </div>
                                                    <div class="col-md-6">

                                                        <div class="form-group" ng-class="{ 'has-error' : newCustomerForm.username.$invalid }">
                                                            <label class="col-md-3 col-xs-12 control-label">Username</label>
                                                            <div class="col-md-9 col-xs-12">
                                                                <input  type="text" class=" form-control" name="username" id="username"
                                                                        ng-model="newCustomer.account.username"
                                                                        ng-minlength="3"
                                                                        required/>
                                                                <p ng-show="newCustomerForm.username.$dirty && newCustomerForm.username.$invalid" class="help-block">Username is required</p>
                                                                <p ng-show="newCustomerForm.username.$error.minlength" class="help-block">Username is too short.</p>
                                                            </div>
                                                        </div>
                                                        <div class="form-group"
                                                             ng-class="{ 'has-error' : newCustomerForm.password.$dirty && newCustomerForm.password.$error.pattern}">
                                                            <label class="col-md-3 col-xs-12 control-label">Password</label>
                                                            <div class="col-md-9 col-xs-12">
                                                                <input type="password" class=" form-control"
                                                                       name="password"
                                                                       ng-model="newCustomer.account.password"
                                                                       ng-pattern='passwordPattern'
                                                                       required/>
                                                                <p ng-show="newCustomerForm.password.$dirty && newCustomerForm.password.$invalid " class="help-block">Password is required</p>
                                                                <p ng-show="newCustomerForm.password.$dirty && newCustomerForm.password.$error.pattern" class="help-block">
                                                                    The password must contain at least one digit/lowercase/uppercase letter and be at least 6 characters long
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-md-3 col-xs-12 control-label">Role</label>
                                                            <div class="col-md-9 col-xs-12">
                                                                <select class="form-control " ng-model="newCustomer.account.role">
                                                                    <option>USER</option>
                                                                    <option >TECHNICAL</option>
                                                                    <option>ADMINISTRATOR</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-md-3 col-xs-12 control-label">Payment type</label>
                                                            <div class="col-md-9 col-xs-12">
                                                                <select class="form-control "
                                                                        ng-options="option.name for option in pamentPlantType track by option.planID"
                                                                        ng-model="newCustomer.paymentPlan">
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="form-group"
                                                             ng-class="{ 'has-error' : newCustomerForm.name.$invalid}">
                                                            <label class="col-md-3 col-xs-12 control-label">Name</label>
                                                            <div class="col-md-9 col-xs-12">
                                                                <input type="text" class="form-control" name="name" ng-model="newCustomer.name"
                                                                        required/>
                                                                <p ng-show="newCustomerForm.name.$dirty && newCustomerForm.name.$invalid" class="help-block">Name is required</p>
                                                            </div>
                                                        </div>
                                                        <div class="form-group"
                                                             ng-class="{ 'has-error' : newCustomerForm.email.$invalid}">
                                                            <label class="col-md-3 col-xs-12 control-label">Email</label>
                                                            <div class="col-md-9 col-xs-12">
                                                                <input type="email" class="form-control" name="email" ng-model="newCustomer.email"/>
                                                                <p ng-show="newCustomerForm.email.$invalid" class="help-block">Enter a valid email</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="col-md-3 col-xs-12 control-label">Avatar</label>
                                                            <div class="col-md-9 col-xs-12">
                                                                <input type="file" class="fileinput btn-success" name="file-avatar" id="file-avatar" title="Click to add avatar"/>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="col-md-3 col-xs-12 control-label">Date of birth</label>
                                                            <div class="col-md-9 col-xs-12">
                                                                <div class="input-group">
                                                                    <input type="text" id="birthday" class="form-control"
                                                                           id="birthday"
                                                                           data-date-format="yyyy-mm-dd"
                                                                           data-date-viewmode="years"
                                                                           ng-model="newCustomer.birthday">
                                                                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-md-3 col-xs-12 control-label">Sex</label>
                                                            <div class="col-md-9 col-xs-12"><!--class="iradio"-->
                                                                <label class="check"><input type="radio" id="male" name="sex" checked="checked" value="male" ng-model="newCustomer.sex"/> Male</label>
                                                                <label class="check"><input type="radio" id="female" name="sex" value="female" ng-model="newCustomer.sex"/> Female</label>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="col-md-3 col-xs-12 control-label">Phone</label>
                                                            <div class="col-md-9 col-xs-12">
                                                                <input  type="text" class=" form-control" name="phone" id="phone"
                                                                        ng-model="newCustomer.phoneNumber"/>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-md-3 col-xs-12 control-label">Address</label>
                                                            <div class="col-md-9 col-xs-12">
                                                                <input type="text" class="form-control" id="address" ng-model="newCustomer.address"/>
                                                            </div>
                                                        </div>


                                                    </div>
                                                    <!--<div class="col-md-12">
                                                        <pre>{{newCustomer | json}}</pre>
                                                    </div>-->
                                                </div>

                                            </div>
                                            <div class="tab-pane" id="tab-third">
                                                <p>This is non libero bibendum, scelerisque arcu id, placerat nunc. Integer ullamcorper rutrum dui eget porta. Fusce enim dui, pulvinar a augue nec, dapibus hendrerit mauris. Praesent efficitur, elit non convallis faucibus, enim sapien suscipit mi, sit amet fringilla felis arcu id sem. Phasellus semper felis in odio convallis, et venenatis nisl posuere. Morbi non aliquet magna, a consectetur risus. Vivamus quis tellus eros. Nulla sagittis nisi sit amet orci consectetur laoreet.</p>


                                            </div>
                                        </div>
                                        <div class="panel-footer">
                                            <button class="btn btn-default" ng-click="clearForm()">Clear Form</button><!--ng-click="addCustomer(newCustomer)"-->
                                            <button class="btn btn-primary pull-right"  >Save Changes <span class="fa fa-floppy-o fa-right"></span></button>
                                        </div>
                                    </div>

                                </form>

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!--END MODALS-->

    <!-- danger with sound -->
    <div class="message-box message-box-danger animated fadeIn" data-sound="fail" id="message-box-sound-2">
        <div class="mb-container">
            <div class="mb-middle">
                <div class="mb-title"><span class="fa fa-times"></span> <span class="title-error"></span></div>
                <div class="mb-content">
                    <p class="exception"></p>
                    <p class="message"></p>
                </div>
                <div class="mb-footer">
                    <button class="btn btn-default btn-lg pull-right mb-control-close">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- end danger with sound -->


        <!-- START PRELOADS -->
        <audio id="audio-alert" src="audio/alert.mp3" preload="auto"></audio>
        <audio id="audio-fail" src="audio/fail.mp3" preload="auto"></audio>
        <!-- END PRELOADS -->                  
        







